<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>관리자 페이지</h1>
    <a href="/admin/product/create">메뉴 추가</a>
    <% for(var i = 0 ;i < product.length; i++ ){ %>
    <p>
      <a href="/admin/product/search/<%= product[i].id %>"
        ><%= product[i].name %></a
      >
    </p>
    <% } %>
  </body>
</html>
