<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThOlYfObV4yFzCaQXuyUi55hjs0CNSjb93iC9H8bsIuWLILiiPDJuS0u-gU3ypBuEBYeI&usqp=CAU"
        alt=""
      />
    </div>
    <button id="index_button" onclick="location.href='/'">포장</button>
    <button id="index_button" onclick="location.href='/'">매장 이용</button>
  </body>
</html>
